@import "mixins-t";
@import "navbar-oase";
@import "front-page";
/* 
NavBar
Color bars
Angled header
*/

/* #region body */

body {
    // prevent flickering
    overflow-y: scroll;
}

@media (min-width: $superLarge) {
    .container {
        max-width: 1400px;
    }
}

/* #endregion body */

/* #region Navbar */



/* #endregion  Navbar */

/* #region  Color bars */

.color-bars {
    display: flex;
    flex-direction: row-reverse;
    >div {
        height: 6px;
        width: 20%;
        
    }
    .cb1 {
        background-color: $Blue_Cornflower_Blue;
       
    }
    .cb2 {
        background-color: $Blue_Botticelli;
    }
    .cb3 {
        background-color: $Green_Sage;
    }
    .cb4 {
        background-color: $Green_GreenSmoke;
    }
    .cb5 {
        background-color: $Yellow_Apache;
    }
    
}

/* #endregion  Color bars */

/* #region  Angled header */

@keyframes pulse {
    0%,
    100% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
}

.wrapper-angled-header {
    position: relative;
    width: 100%; // height: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    opacity: 0.8;
    animation: pulse 5.6s 1.2s infinite;
}

.wrapper-angled-header {
    @include angled-edge('outside bottom', 'lower right', $primary);
}

.container-angled {
    background-color: $secondary;
    color: #FFF;
    padding: 110px 0 0;
    position: relative;
}

/* #endregion  Angled header */

/* #region Footer */

#wrapper-footer {
    padding: 0;
    .container-fluid {
        padding: 0;
    }
    .row {
        margin: 0;
        .col-sm-12 {
            padding: 0;
        }
    }

    ul,li{
        list-style: none;
        font-size: 0.9em;
    }
    .footer-one{
        text-align: left;
        padding: 0;
        .facebook{
           
            text-align: center;
            a:hover i{
                color: tint($secondary,20%);
            }
        }
        @media(max-width:767px){
            .facebook{
                padding: 2em;
               
            }
        }
       

       

    }
    .fa-facebook{
        font-size: 8em;
        color:$white;
    }
    
    @media(min-width:$lg){
        .address{
            // border-right: 1px solid shade($Blue_Smalt_Blue, 10%);
            text-align: right;
            padding-right:5em !important;
        }
        .openingstijden{
            // border-left: 1px solid shade($Blue_Smalt_Blue, 10%);
            text-align: left;
            padding-left:5em !important;
        }
    }
    
}

.site-footer {
    background-color: $Blue_Smalt_Blue;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    // opacity: 0.9;
    // animation: pulse 5.6s 1.2s infinite;
}

.site-info{
    padding-top: 2em; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 0px black !important;
}
/* #endregion Footer */

/* #region Widgets */

.widget-title {
    color: $secondary;
}

/* #endregion Widgets */

/* #region Events manager*/

.calendar-cards .card {
    margin-bottom: 10px;
}

.card .read-more:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; // pointer-events: none;
}

.card .read-more {
    // pointer-events: auto;
}

.card {
    cursor: pointer;
    overflow: hidden;
    .card-img-top {
        transition: all .2s;
    }
    &:hover .card-img-top {
        transform: scale(1.1);
        transition: all .2s;
    }
    &:hover a {
        color: $secondary;
    }
}

/* #region Widgets */

#right-sidebar {
    background: tint(#f8f9fa, 70%); // box-shadow: 0 0 12px -3px rgba(0,0,0,.55);
}

#primary {
    background: tint(#f8f9fa, 70%); // box-shadow: 0 0 22px -3px rgba(0,0,0,.75);
    // box-shadow: 0 0 12px -3px rgba(0,0,0,.55);
}

#right-sidebar .widget {
    // margin-top: 38px;
    li {
        list-style-type: square;
        color: tint($primary, 50%); //#d6d6d6;
        &:hover {
            color: $secondary;
        }
    }
    margin-bottom: 30px;
}

#right-sidebar .widget_recent_entries {
    ul {
        border: 1px dashed rgba(0, 0, 0, .125);
        padding: 10px 22px;
    }
}

/* #endregion Widgets */

/* #region Events Calendar */

.em-calnav {
    color: tint($primary, 50%);
    &:hover {
        color: $secondary;
    }
}

.month_name {
    color: tint($secondary, 20%);
}

.em-calendar {
    width: 100%;
    border: 1px dashed rgba(0, 0, 0, .125);
}

.eventless-today {
    background-color: tint($secondary, 30%) !important;
    color: $white !important;
}

table.em-calendar td.eventful a,
table.em-calendar td.eventful-today a {
    font-weight: 600;
    color: $primary;
    &:hover {
        color: $secondary;
    }
    font-style: bold;
}

/* #endregion Events Calendar */

/* #endregion Events manager*/

/* #region FooGallery */

.fg-default {
    padding-left: 0 !important;
}

/* #endregion FooGallery */

/* #region Article */

// hide by author
.byline {
    display: none;
}

.entry-title {
    color: $secondary;
    a {
        color: $secondary;
    }
}

/* #endregion Article */

/* #region Sponsors */

.sponsor-cards {}

// div#container-sponsors {
//     display: flex;
//     flex-wrap: wrap;
// }
// #container-sponsors>* {
//     width: 50%;
//     min-width: 300px;
//     padding: 10px;
// }
/* #endregion Sponsors */

/* #region Vertical alignment   */

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#page-wrapper,
#single-wrapper {
    flex: 1; // 
    height: 100%;
    display: flex;
}

#page-wrapper.front-page {
    padding-top: 0;
}

.home #page-wrapper #content {
    margin-bottom: -60px; // margin-top: 60px;
    z-index: 5000; // background-color:$Green_Turtle_Green;
}

.wrapper.not-front #content,
.wrapper.not-front #content,
#single-wrapper.wrapper #content {
    box-shadow: 0 0 12px -3px rgba(0, 0, 0, .55);
    padding: 30px;
}

/* #endregion Vertical alignment   */

.btn-outline-primary:hover,
.wpcf7 input:hover[type=submit] {
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;
}

// location
.location .posted-on {
    display: none;
}

/* #region Google map */

.oase-map {

    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden; 
    margin-bottom: 50px;
}

.oase-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* #endregion Google map */
// hide time
time.updated{
    display: none;
}