@import "mixins-t";

body{
    overflow-y:scroll;
  }
@media (min-width: 1420px){
	.container {
    max-width: 1400px;
}
}
#navbarNavDropdown {
    // horzintontally align
    justify-content: flex-end; 
   
       
}
/* #region Color bars */
.color-bars {
    >div {
        height: 6px;
        width: 20%;
    }
    .cb1 {
        background-color: $chambray;
    }
    .cb2 {
        // background-color: tint($chambray, 42%);
        background-color: $secondary;
    }
    .cb3 {
        // background-color: $equator;
        background-color: $equator;
    }
    .cb4 {
        background-color: $tacao;
    }
    .cb5 {
        background-color: $navajo-white;
    }
}
/* #endregion Color bars */
.widget-title{
    color: $secondary;
}
.month_name{
    color: $info;
}
.em-calnav{
    color: $info;
}
.entry-title{
    color: $secondary;
}
.container-angled{
    background-color:$secondary;
    color: #FFF;
    padding: 110px 0 0;
    position: relative;
}

.container-angled{
    // @include angled-edge('outside bottom','lower right',$secondary);
}

@keyframes pulse {
    0%, 100% {
      opacity: 0.8; }
    50% {
      opacity: 1; } 
}


.wrapper-angled-header{
     
    position: relative;
    width: 100%;
    // height: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    z-index: 2;
    opacity: 0.8;
    animation: pulse 5.6s 1.2s infinite;
}
.wrapper-angled-header{
     @include angled-edge('outside bottom','lower right',$primary);
     
}
#navbarNavDropdown a{
   
    font-weight: 700;
    
}
#page-wrapper{
    // min-height:82vh;
    // margin-top: 80px;
}
#wrapper-footer{
    padding: 0;
    .container-fluid{
        padding: 0;
    }
    .row{
        margin: 0;
        .col-md-12{
            padding: 0;
        }
    }
}

.site-footer{
    background-color: #403e3e;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
}
.em-calendar{
    width: 100%;
}
/*Events manager*/
.calendar-cards .card {
     margin-bottom: 10px;
}

.card .read-more:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* FooGallery */        
.fg-default{
    padding-left: 0 !important;
}

// hide by author
.byline {
    display: none;
}

//sponsors
div#container-sponsors {
    display: flex;
    flex-wrap: wrap;
}
#container-sponsors  > *{
    width: 50%;
    min-width: 300px;
    padding: 10px;
}
// Vertical alignment
div#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // background-color: red;
}

div#page-wrapper {
    flex: 1;
    height: 100%;
    display: flex;
    
}
div#page-wrapper #content {
    // background-color: $gray-200;
    margin-bottom: -60px;
    margin-top: 60px;
    z-index: 5000;
    
}

// Home Page
// blocks
#home-block-container{
    height: 100%;
    width: 100%;
   
  .blocks{
    display: flex;
 }
 .hometop{
    //  background-color: green;
     .about{
        margin-bottom: -13.8%;
        width: 31.65vw;
        max-width: 443.08px;
        background-color: #d24345;

        

     }
     
     .hometopright{
         flex-grow: 2;

            .discover{
                
                height: 27.5vw;
                // max-width: 385px;
                max-height: 385px;
                background-color: goldenrod;
            }
            .blog{
                
                height: 27.5vw;
                max-height: 385px;
                background-color: rgb(128, 0, 90);
            }

     }
 }

 .offsetcontainer{

    position: relative;
     z-index: 7000;
    padding-left: 60px;
    padding-right: 60px;

    .homebottom{
        // background-color:hotpink;
        // flex-direction: row-reverse;
        .fb{
            width: 27.5vw;
            height: 27.5vw;
             max-width: 385px;
            max-height: 385px;
            background-color: lightsalmon;
        }
        .instagram{
            width: 27.5vw;
            height: 27.5vw;
            max-width: 385px;
            max-height: 385px;
            background-color: lime;
        }
        .worktogether{
             flex-grow: 2;
             height: 27.5vw;
            //  max-width: 385px;
             max-height: 315px;
             background-color: cyan;
        }
        .services{
            flex-grow: 2;
            background-color:$orange;
            max-height: 700px;;

            // width: 31.65vw;
            //max-width: 443.08px;
        }

        
    }


} 

 
}

.expanda:hover {
   
    transform: scale(1.02);
    transition: all .2s;
    z-index: 1;
    box-shadow: 0 0 22px -3px rgba(0,0,0,.75);
}
.expanda {
    transition: all .2s;
    cursor:pointer;
}
.to-top {

    position: absolute;
    bottom: 0;
    right: 0;

    background-color: #23a75d;
    height: 60px;
    width: 60px;
    font-size: 38px;
    padding: 8px 0 0;
    text-align: center;
    color: #fff;
    display: block;
    -ms-flex-item-align: end;
    align-self: flex-end
}